body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  padding: 7px 25px;
  cursor: pointer;
  border: .5px solid #000;
  font-size: 17px;
  font-weight: 500;
  background-color: #F55229;
}

.divACom{
  background-color: #F4CB00;
}

p{
  padding-left: 25px;
}

h2{
  padding-top: 15px;
}